services:
  poker_adminer:
    build: .
    environment:
      ADMINER_PLUGINS: login-env-vars
      ADMINER_DRIVER: sqlite
      ADMINER_SERVER: server_host
      ADMINER_USERNAME: username
      ADMINER_PASSWORD:
      ADMINER_DB: /db
    ports:
      - "127.0.0.1:8084:8080"
    volumes:
      - type: bind
        source: ../poker_bot.db
        target: /db
        read_only: true

  poker_adminer_rw:
    build: .
    environment:
      ADMINER_PLUGINS: login-env-vars
      ADMINER_DRIVER: sqlite
      ADMINER_SERVER: server_host
      ADMINER_USERNAME: username
      ADMINER_PASSWORD:
      ADMINER_DB: /var/tmp/db
    ports:
      - "127.0.0.1:8085:8080"
    volumes:
      - type: bind
        source: ../poker_bot.db
        target: /var/tmp/db
        read_only: false
